absl-py==1.0.0
alabaster==0.7.12
alembic==1.7.5
aniso8601==9.0.1
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.5.2
asttokens==2.0.5
astunparse==1.6.3
async-generator==1.10
atomicwrites==1.4.0
attrs==21.4.0
autopep8==1.7.0
Babel==2.9.1
backcall==0.2.0
backports.entry-points-selectable==1.1.1
bcrypt==3.2.0
beautifulsoup4==4.11.1
black==22.1.0
bleach==5.0.0
blinker==1.4
browser-cookie3==0.16.1
cachetools==5.0.0
caer==2.0.8
catboost==1.0.5
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.4
cmake==3.22.4
colorama==0.4.4
cryptography==36.0.2
curio==1.5
cycler==0.11.0
Cython==0.29.28
debugpy==1.6.0
decorator==4.4.2
defusedxml==0.7.1
distlib==0.3.3
dnspython==2.2.0
docutils==0.17.1
email-validator==1.1.3
entrypoints==0.4
executing==0.8.2
face-recognition-models==0.3.0
fastapi==0.78.0
fastjsonschema==2.15.3
filelock==3.4.0
Flask==2.0.3
Flask-Cors==3.0.10
Flask-JWT-Extended==3.13.0
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-MySQLdb==0.2.0
Flask-Principal==0.4.0
Flask-RESTful==0.3.9
Flask-Script==2.0.6
Flask-Security-Too==4.1.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
flatbuffers==1.12
fonttools==4.29.0
future==0.18.2
gast==0.4.0
google-auth==2.5.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
graphviz==0.19.2
greenlet==1.1.2
grpcio==1.43.0
gspread==5.5.0
h11==0.13.0
h5py==3.6.0
httplib2==0.20.4
idna==3.3
imageio==2.14.1
imageio-ffmpeg==0.4.5
imagesize==1.3.0
imgaug==0.4.0
iniconfig==1.1.1
ipykernel==6.12.1
ipyparallel==8.2.1
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==7.7.0
itsdangerous==2.1.0
jaraco.classes==3.2.2
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter-client==7.2.2
jupyter-core==4.9.2
jupyterlab-pygments==0.2.0
jupyterlab-widgets==1.1.0
keras==2.9.0
Keras-Preprocessing==1.1.2
keyring==23.9.1
kiwisolver==1.3.2
libclang==14.0.1
lightgbm==3.3.1
logzero==1.7.0
lxml==4.9.1
lz4==4.0.2
Mako==1.1.6
mando==0.6.4
Markdown==3.3.6
MarkupSafe==2.1.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
more-itertools==8.14.0
moviepy==1.0.3
mypy==0.942
mypy-extensions==0.4.3
mysql-connector-python==8.0.29
mysqlclient==2.1.0
nbclient==0.5.13
nbconvert==6.4.5
nbformat==5.3.0
ndg-httpsclient==0.5.1
nest-asyncio==1.5.5
networkx==2.6.3
nltk==3.7
notebook==6.4.10
numpy==1.21.4
oauth2client==4.1.3
oauthlib==3.1.1
opencv-contrib-python==4.5.5.64
opencv-python==4.5.4.60
opt-einsum==3.3.0
outcome==1.1.0
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
passlib==1.7.4
pathspec==0.9.0
pbkdf2==1.3
pickleshare==0.7.5
Pillow==9.0.0
pipenv==2022.1.8
platformdirs==2.4.0
plotly==5.7.0
pluggy==1.0.0
proglog==0.1.9
prometheus-client==0.14.1
prompt-toolkit==3.0.24
protobuf==3.19.1
psutil==5.9.0
psycopg2==2.9.2
pure-eval==0.2.2
pusher==2.0.1
py==1.11.0
pyaes==1.6.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser==2.21
pycryptodome==3.15.0
pydantic==1.9.1
pyflakes==2.5.0
Pygments==2.11.2
PyJWT==2.3.0
pyOpenSSL==22.0.0
pyparsing==3.0.7
pyrsistent==0.18.1
pytest==7.1.1
pytest-asyncio==0.18.3
python-dateutil==2.8.2
python-dotenv==0.8.2
python-multipart==0.0.5
pytz==2021.3
PyWavelets==1.2.0
pywin32==303
pywin32-ctypes==0.2.0
pywinpty==2.0.5
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
radon==5.1.0
regex==2022.9.13
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.8
scikit-image==0.19.1
scikit-learn==1.0.2
scipy==1.7.3
SecretStorage==3.3.3
Send2Trash==1.8.0
Shapely==1.8.1.post1
six==1.16.0
skipthoughts==0.0.1
sniffio==1.2.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2
Sphinx==4.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.4.31
stack-data==0.1.4
starlette==0.19.1
tenacity==8.0.1
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.9.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.23.1
tensorflow-serving-api==2.5.0
termcolor==1.1.0
terminado==0.13.3
testpath==0.6.0
tf-estimator-nightly==2.8.0.dev2021122109
Theano==1.0.5
threadpoolctl==3.0.0
tifffile==2021.11.2
toml==0.10.2
tomli==1.2.3
torch==1.12.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
trio==0.20.0
typing_extensions==4.0.1
urllib3==1.26.7
utils==1.0.1
uvicorn==0.17.6
validation==0.8.0
virtualenv==20.10.0
virtualenv-clone==0.5.7
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.3
wget==3.2
widgetsnbextension==3.6.0
wrapt==1.13.3
WTForms==3.0.0
XlsxWriter==3.0.3
