.navbar-brand {
  text-align: center;
  color: blue;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  /*background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("{{ url_for('static', filename='img/bg-masthead.jpg') }}");*/
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

h1 {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 35px;
  font-family: 'Josefin Sans', sans-serif;

}

button {
  text-align: center;
  padding: auto;
  margin-right: 35px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;


}

.container {
  height: 50px;
  position: relative;
  border: 3px solid green;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.header_main {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: larger;
  font-weight: bolder;


}

#navbarResponsive {
  text-align: center;
}

.para {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
}

.login {
  border-radius: 8px;
  background-color: #d4d0e0;
  border: 3px solid black;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  height: 65px;

}

.login span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.login span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.login:hover span {
  padding-right: 25px;
}

.login:hover span:after {
  opacity: 1;
  right: 0;
}

body {
  /*background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(108,91,123));*/
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}